
<head>
  <link rel="stylesheet" href="https://jalenprim.github.io/sports-forms/forms.html">
</head>

h1 {
	text-align:center;
	color:blue;
}

body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/58b451af03596efb0e7d5f95/67ac7306-a139-4b3d-86b8-01b0799d7b1a/oldbasketball.jpg");
}

ul {
  list-style-type:sqaure
}
